{%extends 'base.htm'%}
{%block content%}
<div class="container">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <div class="md:flex flex-col md:flex-row w-full ">

  </div>
  <div class="row justify-content-center ">
    <form method="POST" action="/dashboard" class="md:w-2/4 w-3/4rounded-lg overflow-hidden  p-10 ">
      <h1 class="text-5xl font-extrabold text-medium py-2 text-gray-500">Linear Regression</h1>
      <br>
      <div class=" w-2/3">
        <label class="block text-gray-500 font-semibold text-left mb-1 md:mb-0 pr-2 tracking-wide"
          for="inline-full-name">
          Train Csv
        </label>
        <input type="text" name="train_csv" class="bg-purple-900 appearance-none font-medium  rounded w-full py-2 px-4 text-gray-100
        leading-tight focus:outline-none focus:bg-purple-700 transition ease-in-out duration-500">
        <br>
        <label class=" block text-gray-500 font-semibold text-left mb-1 mt-2 md:mb-0 pr-2 tracking-wide"
          for="inline-full-name">
          Test Csv
        </label>
        <input type="text" name="test_csv" class="bg-purple-900 appearance-none font-medium  rounded w-full py-2 px-4 text-gray-100
        leading-tight focus:outline-none focus:bg-purple-700 transition ease-in-out duration-500">
      </div>
      {% for data in numeric_column %}
      <br>
      <span class=" text-gray-500 font-medium text-left mb-1 md:mb-0 tracking-wide">
        {{data}}
      </span><input type="radio" class="mr-2 mt-1 leading-tight  h-5 w-5 form-radio text-purple-600 " name="column_name"
        value="{{data}}">

      <br>

      {% endfor %}
      <br>

      <input type="submit"
        class="bg-purple-900 appearance-none outline-none hover:bg-purple-800 transition ease-in-out duration-500 my-2 focus:shadow-outline focus:outline-none text-white p-3 mr-2 rounded">
      <a href="{{url_for('upload_file')}}"
        class="text-gray-500 hover:text-purple-600 transition ease-in-out duration-500">Upload a new csv</a>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div
        class="alert alert-success select-all text-left  border-none bg-purple-900 bg-opacity-50  py-4 lg:px-4  text-white alert-dismissible fade show"
        role="alert">
        <p class="text-left whitespace-normal tracking-wide leading-relaxed">
          {%for i in messages.pop()%}
          {{i}} <br>
          {%endfor%}
          <br>
        </p><span class="text-xs select-none">This is your generated code
          (press
          anywhere near to
          select)</span>
        <button type="button" class="close select-none" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>



      {% endif %}
      {% endwith %}
    </form>
  </div>
</div>
</div>
{%endblock%}