{%extends 'base.htm'%}
{%block content%}
<div class="container">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <div class="md:flex flex-col md:flex-row w-full ">

  </div>
  <div class="row justify-content-center ">
        <form method="POST" action="/dashboard">
          <input type="text" name="train_csv">
          <input type="text" name="test_csv">
          {% for data in numeric_column %}
          <br>
          <span class=" text-gray-700 font-semibold text-left mb-1 md:mb-0 tracking-wide">
            {{data}}
          </span><input type="radio" class="mr-2 leading-tight  h-5 w-5 " name="column_name" value="{{data}}">

          <br>

          {% endfor %}
          <br>

          <input type="submit"
            class=" bg-teal-500 appearance-none outline-none hover:bg-teal-400 my-4 focus:shadow-outline focus:outline-none text-white  py-2 px-4 mr-4 rounded">
          <a href="{{url_for('upload_file')}}">Upload a new csv</a>

          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div
            class="alert alert-success select-all bg-teal-500 bg-opacity-50 text-center py-4 lg:px-4  text-white alert-dismissible fade show"
            role="alert">
            <p >
              {%for i in messages.pop()%}
              {{i}} <br>
              {%endfor%}
            </p><span class="text-xs select-none">This is your generated code
              (press
              anywhere near to
              select)</span>
            <button type="button" class="close select-none" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>



          {% endif %}
          {% endwith %}
        </form>
      </div>
  </div>
</div>
{%endblock%}
