{%extends 'base.htm'%}
{%block content%}
<form method="post">

  {%for data in numeric_column%}
    <span class=" text-gray-500 font-medium text-left mb-1 md:mb-0 tracking-wide">
      {{data}}
    </span><input type="text"  name="x_cases"
     required> <br> <br>
  {%endfor%}
  <input type="submit"
    class="bg-purple-900 appearance-none outline-none hover:bg-purple-800 transition ease-in-out duration-500 my-2 focus:shadow-outline focus:outline-none text-white p-3 mr-2 rounded">
  </form>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div
    class="alert alert-success select-all text-left  border-none bg-purple-900 bg-opacity-50  py-4 lg:px-4  text-white alert-dismissible fade show"
    role="alert">
    <p class="text-left whitespace-normal select-all tracking-wide leading-relaxed">
      {%for i in messages.pop()%}
      {{i}} <br>
      {%endfor%}
      <br>
    </p><span class="text-xs select-none">This is your generated code
      (press
      anywhere near to
      select)</span>
    <button type="button" class="close select-none" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>



  {% endif %}
  {% endwith %}
{%endblock%}
